* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  height: 100%;
  background-color: #f8fafc;
  font-size: 16px;
}

.material-icons.md-48 {
  font-size: 48px;
}

body {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-columns: 300px 1fr;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #e0f2fe;
  height: 100%;
  padding: 24px;
  font-weight: 600;
  font-size: 1.5rem;
}

.sidebar h1 {
  font-size: 2rem;
}

div.dashboard-top {
  margin-bottom: 50px;
  margin-top: 0 !important;
  margin-left: -10px;
}

div.dashboard-top .material-icons.md-48 {
  margin-right: 6px;
}

div.dashboard-middle {
  display: flex;
  flex-direction: column;
}

div.dashboard-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

div.dashboard-item {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

div.dashboard-item .material-icons {
  margin-right: 20px;
}

div.content {
  display: grid;
  grid-template-rows: 200px 1fr;
}

header {
  box-shadow: 0 6px 16px -16px rgb(0, 0, 0);
}

.main {
  background-color: #f1f5f9;
  z-index: -1;
  padding: 20px;
}